@{
    ViewData["Title"] = "Home Page";
}

@System.Diagnostics.Process.GetCurrentProcess().ProcessName

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<partial name="_testePartial">
<br />
@await Html.PartialAsync("_testePartial", "teste2")
<br />
@{
    await Html.RenderPartialAsync("_testePartial", "teste3");
}

<br />
<br />

<a href="/Account/Login">Login</a>
<br />
<a asp-area="" asp-controller="Account" asp-action="Login">Login2</a>